body {

    
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4e/Pleiades_large.jpg");
    
}

.btn {

    background-image: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/341080/910/606/m2/fpnw/wm1/zxhv6io2fgmn6civz6hvtdekf8kehazzyuxleapmjgwnu9rwlmxykpyd4hukadfe-.jpg?1423159322&s=352455e2e986f115ae367179923a73d4");
}

.navbar {
    
    font-family: 'Courier New', Courier, monospace;
  
color: #ffff00;
    
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4e/Pleiades_large.jpg");
}

.card-whole {
width: 500px;
height: auto;




  text-align: center;

  
  border: 5px solid #ffff00;

  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
  
color: #ffff00;


}


.card-home {
width: 600px;
height: auto;

padding: 60px;


  text-align: center;

  
  border: 5px solid #ffff00;

  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
color: #ffff00;


}

a:link {

    color: #ffff00;

}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: #ffff00;
}

/* mouse over link */
a:hover {
  color: #ffff00;
}

/* selected link */
a:active {
  color: #ffff00;
}

.card {

background-image: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/341080/910/606/m2/fpnw/wm1/zxhv6io2fgmn6civz6hvtdekf8kehazzyuxleapmjgwnu9rwlmxykpyd4hukadfe-.jpg?1423159322&s=352455e2e986f115ae367179923a73d4");
}


h1 {

font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 50px;
color: #ffff00;
text-align: center;
padding-top: 20px;



}

h2 {

font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 35px;
color: #ffff00;
text-align: center;
padding-top: 20px;



}

.btn {
  background-color: black; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  color: #ffff00;
  text-decoration: none;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}